:root {
  --blue-1: #F5FAFF;
  --blue-2: #BEECFF;
  --blue-3: #18abe8;
  --blue-core: #24ACE4;
  --blue-5: #008cc7;
  --blue-6: #236CB7;
  --blue-7: #05151C;

  --green-1: #D9F0D1;
  --green-core: #1fc77a;
  --green-3: #215F0C;

  --yellow-1: #FFF5D3;
  --yellow-core: #FF9D02;
  --yellow-3: #714601;

  --red-1: #FF5961;
  --red-core: #ff3246;
  --red-3: #b11116;
  --red-4: #7D0D10;

  --gray-1: #F7F7F7;
  --gray-core: #6c757d;
  --gray-3: #dfe7ee;
  --gray-4: #C4C5D0;

  --black-1: #8B8DA0;
  --black-2: #7F808A;
  --black-3: #494a54;
  --black-4: #383f47;
  --black-core: #282a2f;
  --black-6: #2b343e;
}